{% extends 'base.html' %}
{% load static %}
{% block title %}
  Galeria
{% endblock %}

{% block content %}
    <section class="main">
        <div id="carousel" class="container-fluid" >
            <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-inner col-md-12">
                  <div class="carousel-item active">
                    <img src="{% static 'img/venta.jpg' %}" alt="venta" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/logo2.jpg' %}" class="d-block w-100" alt="logo 2">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/incripcion.png' %}" class="d-block w-100" alt="incripcion">
                  </div>
                </div>
              </div>
        </div>
    </section>
{% endblock %}
