{% extends 'base.html' %}
{% load static %}
{% block title %}
Incio
{% endblock %}

{% block content %}
    <section class="main">
        <div id="carousel" class="container-fluid" >
            <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-inner col-md-12">
                  <div class="carousel-item active">
                    <img src="{% static 'img/portada1.png' %}" alt="venta" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/portada3.png' %}" class="d-block w-100" alt="logo 2">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/portada4.png' %}" class="d-block w-100" alt="incripcion">
                  </div>
                </div>
              </div>
        </div>
        <div class="short_pres text-center mt-4">
          <h1>En mi pequeño Especial somos una guardería</h1>
          <p>Somos un espacio reconocido socialmente en la zona metropolitana de Guadalajara donde brindamos atención y apoyo para el cuidado de niños y jóvenes con alguna discapacidad.</p>
        </div>

        <section class="mision-vision-container container-fluid">
          <div class="m-v-item">
            <figure>
              <img src="{% static "img/mision.png" %}" alt="">
            </figure>
            <h2>Misión</h2>
            <p>Ofrecer a padres de familia con un hijo con discapacidad, un espacio donde se les pueda brindar  el cuidado de alta calidad a través de métodos de aprendizaje permitiendo a los niños y jóvenes  fortalecer las capacidades y habilidades que poseen, desarrollando  su potencial intelectual y físico en un ambiente recreativo y seguro.</p>
          </div>
          <div class="m-v-item">
            <figure>
              <img src="{% static "img/vision.png" %}" alt="">
            </figure>
            <h2>Visión</h2>
            <p>Ser un espacio reconocido socialmente en la zona metropolitana a través de acciones en pro de las familias de niños y jóvenes con discapacidad, brindando servicios de calidad  que generen cambios individuales, familiares y sociales.</p>
          </div>
        </section>
    </section>
{% endblock %}
