{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ titulo }}
{% endblock %}

{% block content %}
<section class="main">
    <div class="container">
        <div class="row mt-5 mb-3">
            <div class="col-12 col-sm-12">
                <h1 class="text-center">
                    {{ titulo }} 
                </h1>
            </div>
        </div>
        <div class="col-12 col-sm-12">
            {% for txt in texto %}
                <div class="row mb-4 align-intems-center ">
                    <p class="text-left txt">
                        {{ txt }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
