{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock %}

{% block content %}
    <section class="main">

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner col-md-12">
            <div class="carousel-item active">
              <img src="{% static 'img/photo_1.jpg' %}" alt="venta" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/photo_2.jpg' %}" class="d-block w-100" alt="logo 2">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/photo_3.jpg' %}" class="d-block w-100" alt="incripcion">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/photo_4.jpg' %}" class="d-block w-100" alt="incripcion">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/photo_5.jpg' %}" class="d-block w-100" alt="incripcion">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/photo_6.jpg' %}" class="d-block w-100" alt="incripcion">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/photo_7.jpg' %}" class="d-block w-100" alt="incripcion">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/photo_8.jpg' %}" class="d-block w-100" alt="incripcion">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/photo_9.jpg' %}" class="d-block w-100" alt="incripcion">
            </div>
          </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
      </div>
    </section>


{% endblock %}
