@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

body{
  font-family: 'Lato', sans-serif !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#navbar {
    background-color: #049e969b !important;
}


/* NAVBAR STUFF */
#navbar a{
    color: whitesmoke !important;
    font-weight: bold !important;
    font-size: 18px;
}

#navbar a:hover{
    color: rgba(49, 48, 48, 0.76) !important;
}

#navbar img{
    width: 20%;
}

#carousel img{
    width: 80% !important;
    object-fit: cover;
}



.search_button{
  background-color: white !important;
  border-radius: 10px !important;
}


.search_button:hover{
  background-color: #049e969b !important;
  color: white !important;
}


.nav-item{
  margin: 0px 5px !important;
}

/* NAVBAR STUFF ENDS */

#carousel{
  padding: 0px !important;
}

.carousel-item img{
  object-fit: fill !important;
  width: 100% !important;
  height: 80vh;
  margin: 0 auto !important;
  background-color: #BBBEDA !important;
}
.carousel-item {
  background-color: #BBBEDA !important;
}

@media only screen and (max-width: 800px) {
  .carousel-item img{
    width: 100% !important;
    object-fit: fill !important;
    height: 50vh;
    margin: 0px auto !important;
  }
  .carousel-item {
    width: 100% !important;
    padding: 0px !important;
  }
}


.short_pres{
  font-size: 25px;
  height: 30vh;
  display: flex;
  justify-content:    center;
  flex-direction: column;
}
.short_pres h1 {
  color: #8794FF;
}


@media only screen and (max-width: 800px) {
  .short_pres{
    font-size: 20px;
    padding: 0px 5px;
  }
}


/* #BEGINS PART OF MISION AND VISION */
.mision-vision-container{
  display: flex;
  justify-content: space-between;
}

.m-v-item{
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.m-v-item p{
  font-size: 20px;
}

.m-v-item figure{
  margin: 0px;
  display: flex;
  justify-content: center;
}
.m-v-item figure img{
  width: 10vw;
  margin: 0px auto;
}


@media only screen and (max-width: 800px) {
  .mision-vision-container{
    flex-direction: column !important;
  }

  .m-v-item{
    width: 100%;

  }

  .m-v-item figure img{
    width: 20vw;
    margin: 0px auto;
  }
}

/* MAIN TEMPLATE */
.txt{
  font-size: 25px !important;
}